.ourTravellersSection {
  padding-top: 64px;
  padding-bottom: 64px;
}

.desktopLink {
  display: none;
}

.travellersSwiper {
  margin-bottom: 48px;
}

.ourTravellersTitle {
  font-weight: 700;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;

  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 48px;
}

.travellersGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 48px;
}

.buttonTravelers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #def2de;
}

.navigationIcon {
  width: 24px;
  height: 24px;
  color: #1b391b;
  fill: currentColor;
  stroke: currentColor;
}

.allTravellersLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid #4a9849;
  border-radius: 6px;
  padding: 6px 12px;
  max-width: 100%;

  background: #4a9849;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
  .ourTravellersTitle {
    font-size: 44px;
    margin-bottom: 0px;
  }

  .travellersGroup {
    flex-direction: row;
  }

  .allTravellersLink {
    display: none;
  }

  .headerTravellers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  .desktopLink {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #4a9849;
    border-radius: 6px;
    padding: 12px;
    width: auto;
    height: 48px;

    background: #4a9849;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    line-height: 1.5;
    color: #ffffff;
  }

  .travellersGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .travellersGroup > * {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .ourTravellersTitle {
    font-size: 52px;
  }

  .desktopLink {
    font-size: 20px;
  }

  .ourTravellersSection {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .travellersGroup > * {
    width: calc((100% - 72px) / 4);
  }
}

.buttonTravelers:hover {
  background-color: #8dd18c;
}
