.sectionInfo {
    padding-top: 144px;
}

.sectionTitle {
    padding-top: 32px;
}

.sectionArticles {
    padding: 40px 0 64px 0;
}

.sectionTravellerPage {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}