.logo {
    height: 36px;
    width: 124px;
   
    fill:#1B391B;
    margin-bottom: 40px;
}

.container{
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    background-color: #def2de;
}

.footer{
    color: #1b391b;
    padding: 48px 0;
 display: flex;
 flex-direction: column;
 align-items: center;

}

.iconList{
        display: flex;
        gap: 16px;
        align-items: center;
        list-style-type: none;
       
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    list-style-type: none;
    margin-bottom: 24px;
}

.navListItem {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #1b391b;

}

.socialIcon{
    width: 32px;
    height: 32px;
}

.tabletWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.footerText{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        color: #1b391b;
        height: 36px;
        width: 250px;
       
        
}

.footerTextContainer{
    border-top: 1px solid  #1b391b;;
    margin-bottom: 32px;
    width: 335px;
    
}

.navText{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #1b391b;
}



@media screen and (min-width: 768px) {

.footer{
    padding: 80px 0;
}
    .tabletWrapper{
      
       margin-bottom: 24px;
       flex-direction: row;
       justify-content: space-between;
    }

    .container{
        max-width: 768px;
        padding: 0 32px;
    }
    .logo{
        margin-bottom: 0;
    }

    .socialIcon {
        width: 24px;
        height: 24px;
    }

    .iconList {
        gap: 12px;
        margin-left: 388px;
    }

    .navList{
    flex-direction: row;
    }

    .footerTextContainer {
        width: 704px;
    }

    .footerText {
        width: 704px;
    }

}


@media screen and (min-width: 1440px) {
   .decktopWrapper{
    display: flex;

   }

   .navText{
    font-size: 18px;
   }


    .container {
        max-width: 1440px;
        padding: 0 64px;
    }

  

  

    .iconList {
     
        margin-left: 466px;
        margin-right: 190px;
    }


    .footerTextContainer {
        width: 1313px;
    }

}
