  .page{
    background-color: #EEF8EE;
    padding: 32px 0 64px 0;
  }
  .container {
    width: 100%;
max-width:375px;
margin: 0 auto;
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;
}
@media only screen and (min-width:768px) {
    .container{
    max-width:768px ;
    padding-left: 32px;
    padding-right: 32px;
    }
}
@media only screen and (min-width:1440px){
    .container{
    max-width:1440px;
    padding-left: 64px;
    padding-right: 64px;
    }
}
.title{
    margin-bottom: 32px;
    /* padding: 32px 0; */
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: #1b391b;
}
@media only screen and (min-width:768px) {
    .title{
    font-size: 48px;
    }

      
}
@media only screen and (min-width:1440px){
    .title{
    font-size: 56px;
    /* padding: 48px 0; */
    margin-bottom: 48px;
    }

        .page {
        padding: 48px 0 72px 0;
        }
}