.overlay {
  position: fixed;
  inset: 0;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);

  overflow-y: auto;
}

.modal {
  position: relative;

  width: 100%;
  max-width: 335px;
  min-height: 382px;

  padding: 64px 16px 16px;

  background-color: #eef8ee;
  border-radius: 24px;
  text-align: center;

  animation: scaleUp 0.25s ease-out;
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 4px;

  background: none;
  border: none;

  color: #333333;
  font-size: 20px;
  cursor: pointer;

  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.closeButton:hover {
  color: #000000;
  transform: scale(1.15);
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.description {
  font-family: "Montserrat", sans-serif;
  margin-top: 16px;
  margin-bottom: 32px;

  font-weight: 400;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
}

.loginBtn,
.registerBtn {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 303px;
  min-height: 48px;

  padding: 6px 12px;

  border: 1px solid #d3dad3;
  border-radius: 6px;

  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.loginBtn {
  background-color: #e5ebe5;
}

.registerBtn {
  background-color: #459b4c;
  color: #ffffff;
}

.loginBtn:hover {
  background-color: #459b4c;
  color: #ffffff;
}

.registerBtn:hover {
  background-color: #e5ebe5;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 704px;
    min-height: 310px;
    padding: 64px;
  }

  .title {
    font-size: 32px;
  }

  .actions {
    flex-direction: row;
  }

  .loginBtn,
  .registerBtn {
    width: 203px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    max-width: 768px;
    min-height: 400px;
  }

  .title {
    font-size: 48px;
  }

  .description {
    font-size: 20px;
  }

  .loginBtn,
  .registerBtn {
    font-size: 20px;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}