.loadMoreWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loadMoreBtn {
    background-color: #4A9849;
    color: #ffffff;
    width: 100%;
    border: 0;
    border-radius: 6px;
    font-weight: 500;
    padding: 12px 6px;
}

@media screen and (min-width: 768px) {
.loadMoreBtn {
    width: 133px;
}
}

@media screen and (min-width: 1440px) {
.loadMoreBtn {
    width: 160px;
    font-size: 20px;
}
}